*{
    margin: 0;
    padding: 0;
    /*border: green 1px solid;*/
}

/*Basic styling for all the pages */
body{
    background-color: #0d1117;
    height: 200vh;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #f0f6fc;
}
.non-selectable {
    user-select: none;
    -webkit-user-drag: none;
}

/*Body id base styling */

/*Styling for the navigation bar */
nav{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: padding 0.3s ease-out;
}
nav .left{
    padding: 45px;
}
nav .left h1{
    font-size: 2.5vw;
}
nav .right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 45px;
}
nav .right a{
    text-decoration: none;
    color: #f0f6fc;
    margin: 0 1vw;
    font-size: 1.5vw;
}
nav .right img{
    width: 30px;
    height: auto;
}

main{
    height: 100%;
    width: 100%;
}

/* Styling for the main div */
#intro_text{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

/* Styling for the #Main_text */
#intro_text .left{
    position: absolute;
    right: 50%;
    top: 45%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 2rem;
}

/* Styling for the spans */
#intro_text .right{
    position: absolute;
    left: 55%;
    top: 47.3%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 3rem;
}