*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../font/inter/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Medium';
    src: url('../font/inter/Inter-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body{
    display: grid;
    grid-template-rows: 10% auto;
    height: 100vh;
    width: 100vw;
    background-color: #0d1117;
    color: white;
    overflow: hidden;
}

#return{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 3%;
    font-size: 1.5rem;
    font-family: 'Inter-Medium';
}
#return a{
    text-decoration: none;
    color: white;
}

#info{
    width: 100%;
    height: 100%;
    font-family: 'Inter-Bold';
    display: flex;
    justify-content: center;
    align-items: center;
}
#info .group{
    display: grid;
    grid-template-rows: 50% 50%;
    width: 30%;
    height: 20%;
    margin-bottom: 10vh;
}
#info .group .top{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#info .group .top .text{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 40% auto;
}
#info .group .top .text .left{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}
#info .group .top .text .left h1{
    font-size: 7vh;
    font-family: 'Inter-Bold';
    width: auto;
    height: auto;
}
#info .group .top .text .right{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
}
#info .group .top .text .right h2{
    font-family: 'Inter-Medium';
    width: auto;
    height: auto;
    margin: 3.5%;
    white-space: nowrap;
}
#info .group .bottom{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}
#info .group .bottom p{
    font-size: 2vh;
    font-family: 'Inter-Medium';
    margin: .5%;
}