*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../font/inter/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Medium';
    src: url('../font/inter/Inter-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #0d1117;
    overflow: hidden;
}

#front-card{
    height: 85vh;
    width: 60vh;
    background: linear-gradient(207.51deg, #962828 0%,#300D0D 90%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 20% 20% 60%;
    border-radius: 50px;
    overflow: hidden;
}

#front-card .top{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% auto 30%;
}
#front-card .top .start-space{
    height: 100%;
    width: 100%;
}
#front-card .top .middle-space{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}
#front-card .top .middle-space .hole{
    height: 20%;
    width: 60%;
    background-color: #0d1117;
    border-radius: 30px;
    margin-top: 10%;
}
#front-card .top .end-space{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#front-card .top img{
    height: 75%;
    width: 75%;
}

#front-card .middle{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 90% 10%;
}
#front-card .middle .name-space{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    font-size: 2rem;
    color: white;
    margin-left: 6%;
}
#front-card .middle .name-space h1{
    font-family: 'Inter-Bold';
}
#front-card .middle .name-space p{
    font-family: 'Inter-Medium';
}
#front-card .middle .line-space{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
}
#front-card .middle .line-space .line{
    height: 20%;
    width: 70%;
    background-color: white;
    margin-left: 6%;
}

#front-card .bottom{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#front-card .bottom img{
    width: 87%;
    height: 87%;
    object-fit: cover;
    border-radius: 30px;
    object-position: top;
}