main{
    display: grid;
    grid-template-rows: 92vh 80vh 80vh 70vh;
}

/*Intro*/

main #intro{
    display: grid;
    grid-template-columns: 55% auto;
}
main #intro ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
main #intro ul div{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 95%;
}
main #intro ul div h1{
    font-size: 3rem;
    font-family: Inter-Bold;
    margin-bottom: 1rem;
}
main #intro .options{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 1rem;
}
main #intro .options a{
    margin-right: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 5px;
}
main #intro .options a button{
    border: none;
    font-family: Inter-Medium;
    font-size: .9rem;
    cursor: pointer;
    width: auto;
    white-space: nowrap;
    background-color: transparent;
}
main #intro .contact{
    background-color: #fff;
    border: rgba(128, 128, 128, 0.2) 2px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
main #intro .contact:hover{
    background-color: #f0f0f0;
}
main #intro .contact button{
    color: #000;
}
main #intro .work{
    background-color: #000;
    border: black 2px solid;
}
main #intro .work:hover{
    background-color: #272727;
    border: #272727 2px solid;
}
main #intro .work button{
    color: #fff;
}
main #intro .img{
    display: flex;
    justify-self: center;
    align-items: center;
}
main #intro img{
    width: 100%;
    height: auto;
}

/*Works*/

main #works{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(240 4.8% 95.9%);
}
main #works h1{
    font-size: 3rem;
    font-family: Inter-Bold;
    margin-bottom: .5rem;
}
main #works .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main #works .container p:not(.projects p){
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 1.2%;
    padding-right: 1.2%;
    color: black;
    margin-bottom: .2rem;
}
main #works .container h3{
    margin-bottom: 2rem;
}
main #works .projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
}
main #works .projects a{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #fff;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 1rem;
}
main #works .projects a:hover{
    background-color: #f0f0f0;
}
main #works .projects a:hover h2 {
    text-decoration: underline;
}
main #works .projects a h2{
    font-size: 1rem;
    font-family: Inter-bold;
}
main #works .projects a p{
    font-size: .9rem;
    font-family: Inter-medium;
}

/*Skills*/

main #skills{
    display: flex;
    justify-content: center;
    align-items: center;
}
main #skills h1{
    font-size: 3rem;
    font-family: Inter-Bold;
    margin-bottom: .5rem;
}
main #skills .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main #skills .container p:not(.skills p){
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 1.2%;
    padding-right: 1.2%;
    background-color: hsl(240 4.8% 95.9%);
    border-radius: 5px;
    color: black;
    margin-bottom: .2rem;
}
main #skills .container h3{
    margin-bottom: 2rem;
}
main #skills .skills{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
}
main #skills .skills a{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #fff;
    border-radius: 8px;
    cursor: default;
    margin-bottom: 1rem;
}
main #skills .skills a:hover{
    background-color: #f0f0f0;
}
main #skills .skills a:hover h2 {
    text-decoration: underline;
}
main #skills .skills a h2{
    font-size: 1rem;
    font-family: Inter-bold;
}
main #skills .skills a p{
    font-size: .9rem;
    font-family: Inter-medium;
}

/*contact*/

main #contact {
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: white;
    padding: 2rem 0;
}

main #contact #form-contact {
    background-color: hsl(240 4.8% 95.9%);
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main #contact #form-contact h1 {
    font-size: 2rem;
    font-family: Inter-Bold;
    margin-bottom: .2rem;
    text-align: center;
}

main #contact #form-contact p {
    font-size: 1rem;
    font-family: Inter-Medium;
    text-align: center;
    text-align: start;
}

main #contact #form-contact form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

main #contact #form-contact textarea {
    margin-top: 1rem;
}
main #contact #form-contact textarea,
main #contact #form-contact input {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Inter-Medium;
    font-size: 1rem;
    resize: none;
}

main #contact #form-contact button {
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: Inter-Bold;
    font-size: .8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

main #contact #form-contact button:hover {
    background-color: #272727;
}