body{
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
h1{
    font-size: 2rem;
    font-family: 'Inter-Bold';
}
